.error_imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
}

img{
    width: 30vh;
    height: 10vh;
    margin: 20px;
}

#gumball{
    height:30vh ;
    width:30vh ;
}