/* --- inicio.css --- */

.inicio_contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Ocupa el 80% de la altura de la zona de contenido para centrar visualmente */
    min-height: 80vh; 
    padding: 20px;
    text-align: center;
}

.inicio_titulo {
    font-size: 3em;
    color: #e0e0e0;
    text-shadow: 3px 3px #3d0347;
    margin-bottom: 15px;
    max-width: 80%;
}

.inicio_frase {
    font-size: 1.5em;
    font-style: italic;
    color: #aaaaaa;
    margin-bottom: 40px;
}

.inicio_imagen_fantasma img {
    max-width: 300px;
    height: auto;
    margin-bottom: 30px;
    
    /* Filtro para que la silueta se vea dramática */
    filter: grayscale(100%) contrast(1.5) drop-shadow(0 0 10px #3d0347);
    
    /* Pequeña animación: Flotando */
    animation: flotar 4s ease-in-out infinite;
}

@keyframes flotar {
    0% { transform: translateY(0px) rotate(-0.5deg); }
    50% { transform: translateY(-10px) rotate(0.5deg); }
    100% { transform: translateY(0px) rotate(-0.5deg); }
}

.inicio_explorar{
    font-size: 1.2em;
    border: 1px dashed #6e6e6e;
    padding: 10px 20px;
    background-color: rgba(34, 34, 34, 0.7);
}

#explorar, #nota{
	color:#e0e0e0
}