html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    color: rgb(229, 216, 202);
    font-family: 'Montserrat', sans-serif;
}

.contenedor_contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor_pie {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
 
}