:root {
   background-color: #0D101C; 
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color:#0D101C; 
    color: #FFFFFF; 
    font-family: 'Montserrat', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

#root{   
  min-height: 100vh; 
  width: 100%;
  box-sizing: border-box;
}