/*Acabo de descubrir que se pueden definir areas con grid-template-areas y se vuelve mucho más facil colocar los elementos, 
basicamente le dices al grid donde va colocado cada elemento por el nombre de sus clases*/

.contenedor_contenedor {
  background-color: antiquewhite;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
  display: grid;
  /*Indicamos que la página va a tener dos columnas, la primera se ajustará al tamaño del componente y la segunda tomará el espacio sobrante (es el diseño que quiero para la taquilla).*/
  grid-template-columns: auto 1fr;
  /*Cada fila tendra se ajustará al componente menos la última que quiero que tenga el espacio sobrante dedicado al elenco y así no se queda desajustado el contenedor*/
  grid-template-rows: auto auto 1fr;
  /*Ahora viene la magia que no conocía, colocar que elementos quiero que estén en cada área*/
  grid-template-areas:
    "pelicula pelicula"
    "botones taquilla"
    "elenco elenco";
	gap:20px;
	height: auto;
  width: auto;
}

/*Ahora indicamos que cada uno de los elementos son areas para grid*/
.pelicula{
  grid-area: pelicula;
  height: auto;
  width: auto;
}
.elenco{
  grid-area: elenco;
  height: auto;
  width: auto;
}
.taquilla{
  grid-area: taquilla;
  height: auto;
  width: auto;
}
.ocultar {
  display: none;
}

.botones{
  grid-area: botones;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  
}
