.elenco_contenedor {
  background-color: rgb(246, 241, 241);
  border-radius: 5px;
  border: 2px solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.actores{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-size: 20px;
}