.interprete_foto {
	width: 10%;
	height: auto;
	border-radius: 5px;
}

.interprete_contenedor {
	padding: 10px;
	border: 2px solid rgb(49, 49, 49);
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	background-color: whitesmoke;
	margin: 10px;
	border-radius: 10px;
}

.interprete_datos{
	margin-left: 20px;
	text-align: left;
}
h2 {
	text-align: center;
	font-size: 15px;
}
p{
	margin: 20px
}
