.pelicula_contenedor {
	display: grid;
	grid-template-columns: 20% auto;
	gap: 20px;
	
}

.pelicula_datos{
	background-color: rgb(246, 241, 241);
  	border-radius: 5px;
  	border: 2px solid black;
	margin-right: 20px;
	margin-top: 25px;
}

img {
	grid-row: 1 / span 2;
	justify-self: center;
	align-self: center;
	width: 80%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	font-size: 15px;
	text-align: left;
	margin-left: 20px;
}

#titulo {
	font-size: 30px;
}

p {
	font-size: 15px;
	text-align: justify;
	align-self: center;
    margin-right: 40px;	
	
}

