.pie {
	/* Altura fija o con padding determinado */
	padding: 10px 20px;
	height: auto;
	flex-shrink: 0; /* Asegura que no se encoja */
	background-color: #111111;
	text-align: center;
	border-top: 3px solid #3d0347; /* Línea divisoria morada */
}
