
/* contenido.css */

.contenedor_contenido{
    flex-grow: 1; 
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply;
    padding-bottom: 60px; 
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
}