
.contenedor_pie {
   background-color: #000000; 
    width: 100%;
    padding: 15px 40px;
    flex-shrink: 0; 
    border-top: 1px solid rgb(0, 0, 0);
    box-shadow: 0 -5px 15px rgba(223, 192, 55, 0.5);
    text-align: center;
    font-family: 'Consolas', 'Courier New', monospace; 
    box-sizing: border-box;

    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

.contenedor_pie small {
    font-size: 0.8em;
    color:  #A3A3A3;
    text-shadow: 0 0 5px rgba(219, 174, 24, 0.301); 
    letter-spacing: 0.5px;
}