body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
#error{
    border:2px solid red;
    border-radius: 8px;
    background-color: rgb(214, 168, 168);
    font-weight: bold;
    color: rgb(77, 7, 7);
}
.mensajeError{
    
}
.ocultar{
    display: none;
}
#formularioDisco{
    padding:25px;
    border:1px solid black;
    border-radius: 8px;
    width:100%;
    max-width: 400px;
}

legend{
    font-weight: bold;
}

#agregarDisco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
}

label{
    font-weight: bold;
    margin-top: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 5px;
}

.error{
    border:2px solid red;
    background-color: lightpink;
}