button{
    position: fixed;
    font-size: 30px;
    top: 80vh;
    height: 10vh;
    width: 20vh;
    background-color: beige;
    transition: transform 0.2s; 
}

button:hover{
    border-color: black;
    transform: scale(1.1);
}