.contenedor_personajes{ 
    display: flex;
    flex-direction:  column ;
    padding-bottom: 70px;
}

.contenedor_resumen{
    width: 80vh;
}

.cargando{
    width: 10%;
    height: 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.contenedor_contenido{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.contenedor_detalles{
    display:flex ;
    flex-direction: row;
}