.Contenedor_contenedor{
    width:70%;
    min-height: 50vh;
    background-color: #fafafa;
    box-sizing: border-box;
    position: fixed;
    /* Centrado absoluto (no me acordaba de que existía) es necesario hacer transform porque fixed lo coloca en la esquina superior izquierda
    y si no pongo fixed no se centra */
    transform:translate(-50%, -50%);
}
