.pelicula_contenedor {
	display: grid;
	grid-template-columns: 30% auto;
	gap: 10px;
}
img {
	grid-row: 1 / span 2;
	justify-self: center;
	align-self: center;
	width: 95%;
	height: 95%;
}

.pelicula_interpretes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	padding: 10px;
}
