

.contenedor_detalles {
    background-color: #37201e; 
    border: 1px solid #431410;
    padding: 30px;
    margin: 30px auto;
    max-width: 700px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    display: flex;
    gap: 30px;
    color: white; 
    font-family: 'Montserrat', sans-serif;
}

.informacion_principal {
    flex-basis: 50%; 
    text-align: center;
    border-right: 1px dotted rgb(89, 72, 21); 
    padding-right: 30px;
}

.contenedor_detalles img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid rgb(89, 72, 21);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.informacion_principal h1 {
    font-size: 1.8em;
    color: rgb(214, 169, 34); 
    text-transform: uppercase;
    margin: 10px 0 5px 0;
}

.informacion_principal h2 {
    font-size: 1.2em;
    color: #A3A3A3; 
    margin: 0 0 15px 0;
    font-weight: 400;
}

.informacion_principal p {
    color: white;
    font-size: 0.9em;
}

.informacion_secundaria {
    flex-basis: 50%; 
    text-align: left;
    padding-left: 10px;
    padding-top: 15px; 
}

.informacion_secundaria p {
    font-size: 1em;
    color: #A3A3A3; 
    margin-bottom: 15px;
    border-left: 2px solid rgb(214, 169, 34);
    padding-left: 10px;
}
.informacion_secundaria p:last-child {
    font-weight: bold;
    color: rgb(214, 169, 34); 
}
