 #actualizarDisco{
    display: block;
    width: auto;
    margin: 30px auto 0 auto; 
    background-color: rgb(13, 8, 3);
    color: rgb(214, 169, 34);
    border-radius: 10px;
	padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s, box-shadow 0.2s;
}
#actualizarDisco:hover {
    background-color: #3c3211;
    box-shadow: 0 0 8px rgba(212, 175, 55, 0.5); 
}

#actualizarDisco:active {
    background-color:  #D4AF37;
    color: #0D101C;
    transform: translateY(1px);
}