
.contenedor_error {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
    background-color: rgb(49, 15, 15); 
    border: 3px solid red;
    box-shadow: 0 0 15px red;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.codigo_error {
    font-size: 1.8em;
    color: red;
    text-shadow: 0 0 5px red;
    margin-bottom: 25px;
    font-family: 'Consolas', monospace; 
    text-transform: uppercase;
}


.cita_principal {
    font-size: 1.1em;
    font-style: italic;
    color: white;
    margin: 10px 0 30px;
    padding: 15px 25px;
    border-top: 1px dotted red; 
    border-bottom: 1px dotted red;
    background-color: rgba(0, 0, 0, 0.3); 
}


.descripcion{
    font-size: 0.9em;
    color: #A3A3A3; 
    font-style: italic;
    margin-bottom: 30px;
}


.boton_reorientar {
    display: block;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    
    box-shadow: 0 0 10px rgba(255, 51, 51, 0.8);
    transition: background-color 0.2s;
}

.boton_reorientar:hover {
    background-color: darkred;
}