
.contenedor_inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    margin: 50px auto;
    max-width: 650px;
    text-align: center;
    
    background-color: #37201e; 
    border: 1px solid #431410;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.titulo_sistema {
    font-size: 2.2em;
    color: rgb(214, 169, 34); 
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(75, 63, 27, 0.802);
    margin-bottom: 25px;
}

.cita_principal {
    font-size: 1.1em;
    font-style: italic;
    color: white;
    margin: 10px 0 30px;
    padding: 15px 25px;
    border-top: 1px dotted rgb(89, 72, 21);
    border-bottom: 1px dotted rgb(89, 72, 21);
    background-color: rgba(0, 0, 0, 0.3);
}


.citas_secundarias {
    text-align: left;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.citas_secundarias p {
    color: #A3A3A3;
    font-size: 0.9em;
    margin: 5px 0;
    font-family: 'Consolas', monospace; 
}


.mensaje_accion {
    font-size: 1em;
    color: rgb(214, 169, 34);
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.5;
}


.contenedor_botones {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}


.boton_inicio {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.boton_inicio.principal {
    background-color: rgb(214, 169, 34);
    margin-bottom: 10px; 
    color: #0D101C; 
}
.boton_inicio.secundario {
    background-color: rgb(13, 8, 3);
    color: rgb(214, 169, 34);
    border: 1px solid rgb(89, 72, 21);
}
