

.contenedor_insertarDisco {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

#formularioDisco {
    background-color: #37201e;
    border: 1px solid #431410;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#formularioDisco legend {
    font-size: 1.8em;
    font-weight: 700;
    color: rgb(214, 169, 34); 
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(75, 63, 27, 0.802);
    margin-bottom: 20px;
}

#agregarDisco {
    display: block; 
}

#agregarDisco label {
    font-weight: 600;
    color: rgb(214, 169, 34);
    display: block; 
    margin-top: 25px; 
    margin-bottom: 5px; 
}

/*No puedo cambiar el fondo azul*/
#agregarDisco select option{
	background-color: rgb(49, 15, 15) !important;
}



#agregarDisco label:first-of-type {
    margin-top: 0;
}

#agregarDisco input:not([type="button"]):not([type="checkbox"]),
#agregarDisco select {
    background-color: rgb(13, 8, 3);
    color: rgb(214, 169, 34);
    border: 1px dotted rgb(89, 72, 21);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom: 0; 
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

#agregarDisco input[type="checkbox"]{
	height: 20px;
	width:20px;
	cursor:pointer;
}

#guardar {
    display: block;
    width: auto;
    margin: 30px auto 0 auto; 
    background-color: rgb(13, 8, 3);
    color: rgb(214, 169, 34);
    border-radius: 10px;
	padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s, box-shadow 0.2s;
}
#guardar:hover {
    background-color: #3c3211;
    box-shadow: 0 0 8px rgba(212, 175, 55, 0.5); 
}

#guardar:active {
    background-color:  #D4AF37;
    color: #0D101C;
    transform: translateY(1px);
}

.mensajeError {
    color: red;
    font-size: 1em;
    text-align: left;
    margin-top: 5px; 
    margin-bottom: 10px; 
   
}
.error{
	color:red !important;
	background-color: rgb(73, 13, 13) !important;
	box-shadow: 0 0 10px red !important;
}