
.contenedor_listarDiscos {
    background-color:  #37201e; 
    padding: 30px;
    margin: 30px auto;
    max-width: 1100px;
    border: 1px solid #3c1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
    
   
}

.contenedor_mostrarDiscos {
    /*Odio css*/
    display: grid !important;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    height: 90% !important;
    padding-top: 25px;
    border-top: 1px dashed #1d0f0f; 
}

.contenedor_listarDiscos h2 {
    color: #D4AF37;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 0 5px rgba(212, 175, 55, 0.3);
}
.contenedor_controles {
    margin-bottom: 25px; 
    display: flex; 
    gap: 10px;
}

#inputFiltrar {
    flex-grow: 1; 
    background-color: rgb(13, 8, 3);
    color: #D4AF37; 
    border: 1px solid #514620;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

#buscar, #limpiar {
    background-color: rgb(13, 8, 3);
    color: #D4AF37;
    border: 1px solid #514620;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s, box-shadow 0.2s;
}

#buscar:hover, #limpiar:hover {
    background-color: #3c3211;
    box-shadow: 0 0 8px rgba(212, 175, 55, 0.5); 
}

#buscar:active, #limpiar:active {
    background-color:  #D4AF37;
    color: #0D101C;
    transform: translateY(1px);
}

.confirmar_eliminacion{
    position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;

	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}
