html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: rgb(0, 0, 0); /* Fondo oscuro general */
    color: rgb(229, 216, 202); /* Color de texto claro general */
    font-family: 'Montserrat', sans-serif;
}

/*
.contenedor_pie {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
 
}*/
