.cabecera_contenedor {
    background-color: rgb(30, 9, 9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 3px solid rgb(51, 7, 7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat', sans-serif;
}
#logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid rgb(49, 15, 15);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(200, 148, 4, 0.865);
}
.cabecera_contenedor h1 {
    font-size: 2.5em;
    color: rgb(214, 169, 34); 
    font-weight: 800;
    margin:0;
    margin-left: 11.5%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 8px rgba(214, 192, 106, 0.831);
}
.cabecera_contenedor em {
    max-width: 400px;
    font-size: 0.85em;
    font-style: italic;
    text-align: right;
    line-height: 1.4;
    margin-left: 20px;
    color:  rgb(214, 169, 34); 
    border-left: 2px solid  rgb(214, 169, 34);
    padding-left: 15px;
}
