
.contenedor_contenido{
    flex-grow: 1; 
    background-image: url("../../img/friendlyCard.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;    
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply;
    padding-bottom: 55px; 
}