
.contenedor_pie {
    background-color: #37201e; 
    width: 100%;
    padding: 15px 40px;
    flex-shrink: 0; 
    border-top: 1px solid rgb(66, 12, 12);
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Consolas', 'Courier New', monospace; 
    box-sizing: border-box;
}


.contenedor_pie small {
    font-size: 0.8em;
    color:  #A3A3A3;
    text-shadow: 0 0 5px rgba(212, 175, 55, 0.1); 
    letter-spacing: 0.5px;
}