:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	height: 100%;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	height: 100%;
}

h1,
h2,
h3 {
	font-family: "Creepster", cursive; /* Idealmente una fuente gótica o retorcida como 'Creepster' o 'Metal Mania' (si usas Google Fonts) */
	color: #c9c9c9; /* Gris pálido */
	text-shadow: 2px 2px #3d0347; /* Sombra sutil de color morado oscuro/cadáver */
}

button {
	background-color: #3d0347; /* Morado oscuro */
	color: #3d0347;
	border: 3px solid #6e6e6e; /* Borde de costura */
	border-radius: 10px;
	padding: 10px 15px;
	cursor: pointer;
	text-transform: uppercase;
	transition: background-color 0.3s;
}
button:hover {
	background-color: #5a046c;
	color: #c9c9c9;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
