body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.piezas {
	width: 50vh;
	height: 30vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 5px;
	gap:5px;
	border: 1px solid black;
	
}

.piezas img {
	width: 100%;
	height: 100%;
}

.tablero {
	width: 50vh;
	height: 32vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: 2px solid black;
	background-color: beige;
}

.tablero div {
	width: 100%;
	height: 100%;
}
.tablero img {
	width: 100%;
	height: 100%;
}
