body {
    height: 100vh; 
    margin: 0;
    padding: 20px;
    gap : 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 30% 30% 40%;
    grid-template-areas: 
    "titulo contenedor_juego"
    "niveles contenedor_juego"
    "boton contenedor_juego";  
    background-color: #f7f9fc;
    /* Prevenir el scroll en el body. */
    overflow: hidden; 
    align-content: center;
    align-items: center;
}
.titulo_juego{
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    
}
#titulo{
    align-self: center;
}


.niveles {
    grid-area: niveles;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;  
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.niveles button {
    width: 100%;
}
.niveles button, .boton button {
    padding: 10px;
    border: 1px solid #a8c0f5; 
    background-color: #dbe4ff; 
    color: #3f51b5;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
    width: 100%; 
}
.niveles button:hover, .boton button:hover {
    background-color: #c4d0f7;
}
.boton {
    grid-area: boton;
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: start; 
    justify-self: center;
}
.boton button {
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #a8c0f5;
    background-color: #dbe4ff;
    color: #3f51b5;
    cursor: pointer;
    border-radius: 5px;
}
.contenedor_juego {
    grid-area: contenedor_juego;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    flex-grow: 1; 
    align-items: center;
    justify-content: center; 
    max-height: 100%;
    border-left: 2px dotted black;
    
}
#resultado {
    font-size: 1.5em;
    color: #4CAF50; 
    background-color: rgb(214, 246, 214);
    width: 100%;
    text-decoration: underline 3px #c8e6c9; 
    align-self: center;
    text-align: center;
  
   
}
.tablero{
    display:grid;
    border: 1px solid black;
    border: 3px solid #607d8b;
    background-color: #e3f2fd;

}
.piezas{
    display:grid;
    border: 1px solid black;
    gap:2px;
    padding: 2px;
    border: 3px solid #607d8b;
    background-color: #e3f2fd;
}

.facil{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 62vh;
    height: 40vh;
}

.medio{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 62vh;
    height: 40vh;
}

.dificil{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 62vh;
    height: 40vh;
}

.maestro{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 62vh;
    height: 45vh;
}
.piezas img{
    width: 100%;
    height: 100%;
}

.tablero img{
    width: 100%;
    height: 100%;
}

.tablero div{
    width: 100%;
    height: 100%;
}