body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.piezas,
.tablero {
	display: grid;
	padding: 2px;
	gap: 2px;
	border: 1px solid black;
	width: 60vh;
	height: auto;
}

.facil {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.tablero.facil {
	height: 35vh;
	gap: 0;
}
.tablero.maestro {
	height: 45vh;
	gap: 0;
}

.maestro {
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.tablero > div {
	width: 100%;
	height: 100%;
	position: relative;
}

.tablero img,
.piezas img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
