.contenedor_confirm{
    position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;

	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.boton_confirm {
    display: block;
    width: auto;
    margin: 30px auto 0 auto; 
    background-color: rgb(13, 8, 3);
    color: rgb(214, 169, 34);
    border-radius: 10px;
	padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s, box-shadow 0.2s;
}
.boton_confirm:hover {
    background-color: #3c3211;
    box-shadow: 0 0 8px rgba(212, 175, 55, 0.5); 
}

.boton_confirm:active {
    background-color:  #D4AF37;
    color: #0D101C;
    transform: translateY(1px);
}

.confirmar_eliminacion{
    background-color: rgb(248, 208, 188);
    color:black;
    font-size: 20px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    
    /* Control del tamaño */
    width: 90%;
    max-width: 450px; /* Evita que crezca demasiado en PC */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    /* Animación de entrada para que no aparezca de golpe */
    animation: aparecer 0.3s ease-out;
}