
.contenedor_disco {
    background-color: #2c0d0d; 
    color: #a57e44;
    padding: 20px;
    text-align: center;
    border: 1px dashed #7e6923;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.contenedor_disco:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7); 
}

.contenedor_disco img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid black;
}

.contenedor_disco h1 {
    font-size: 1.6em;
    color: rgb(230, 213, 163); 
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.contenedor_disco h2 {
    font-size: 1em;
    color: rgb(214, 169, 34); 
    margin: 5px 0 12px;
    font-weight: 400;
}

.contenedor_disco p {
    font-size: 0.9em;
    margin: 3px 0;
    color: rgb(230, 213, 163); /* Detalles en el color de diagrama */
    padding: 2px 0;
    line-height: 1.4;
}


#botonEliminar {
    width: 38px; 
    height: 38px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid rgb(230, 213, 163); 
    padding: 5px;
    transition: all 0.2s;
    border-radius: 50%; 
}

#botonEliminar:hover {
    background-color: rgb(145, 66, 66);
    box-shadow: 0 0 12px rgb(188, 12, 12);
    border-color: red;
}