.header_container {
	background-color: var(--bg-white);
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	border-bottom: 1px solid var(--border-color);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
	flex-shrink: 0; /* Evita que se encoja */
	z-index: 10;
}

.header_container h1:hover{
	color: #462c23;
}
.header_container h1 {
	font-size: 1.8rem;
	color: var(--accent-brown);
	letter-spacing: -0.5px;
	font-weight: 700;
	cursor: pointer;
}

.header_container div {
	display: flex;
	align-items: center;
	gap: 15px;
}

.header_container h3 {
	font-size: 1rem;
	font-weight: 400;
	margin-right: 10px;
	font-family: "Lato", sans-serif;
}

.header_container button {
	background: transparent;
	border: 1px solid var(--text-main);
	padding: 8px 16px;
	border-radius: 4px;
	transition: all 0.3s ease;
	font-size: 0.9rem;
}

.header_container button:hover {
	background: var(--text-main);
	color: var(--bg-white);
}
