:root {
  --backgroundLight: #f4f7f6;
  --primaryColor: #2c3e50;
  --accentColor: #3498db;
  --white: #ffffff;
  --gold: #c5a059;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--backgroundLight);
}

.Content_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Mantenemos esto para el Grid */
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.Content_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* CAMBIO CLAVE: stretch permite que el grid ocupe todo el ancho */
  align-items: stretch; 
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
}

header {
  background-color: var(--primaryColor);
  color: var(--white);
  padding: 1rem 5%;
}

footer {
  background-color: var(--primaryColor);
  color: var(--white);
  padding: 1rem;
  text-align: center;
}
form {
  max-width: 400px;
  margin: 2rem auto; /* Esto centra el bloque horizontalmente */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--shadowSoft);
}